@model Fall2021_COMP2084_CourseProject.Models.City

@{
    ViewData["Title"] = "Edit the city information";
}

<h1>Edit the post</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            @*<div class="form-group">
                <label asp-for="AddedDate" class="control-label"></label>*@
            @Html.HiddenFor(p => p.AddedDate, new { Value = @Model.AddedDate })
            @*<span asp-validation-for="AddedDate" class="text-danger"></span>
                </div>*@

            <div class="form-group">
                <label asp-for="Province" class="control-label"></label><span class="required-item">*</span>
                <select asp-for="Province" class="form-control">
                    <option>Alberta</option>
                    <option>British Columbia</option>
                    <option>Manitoba</option>
                    <option>Newfoundland and Labrador</option>
                    <option>New Brunswick</option>
                    <option>Nova Scotia</option>
                    <option>Ontario</option>
                    <option>Prince Edward Island</option>
                    <option>Quebec</option>
                    <option>Saskatchewan</option>
                </select>
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label><span class="required-item">*</span>
                <input asp-for="Name" class="form-control" />
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                @*@Html.ValidationMessageFor(c => c.Name, "", new { @class = "text-danger" })*@
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="link-color-change-dark" data-toggle="tooltip" title="Cancel">
        @*Icon Source   https://icons.getbootstrap.com/*@
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z" />
        </svg>
        Cancel
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
