@{
    ViewData["Title"] = "Choose a City";
}

<h3> Choose a city to view rooms in each city </h3>

<ul>
    <li>
        <a asp-controller="Cities" asp-action="Browse">Barrie</a>
    </li>
    <li>
        <a asp-controller="Cities" asp-action="Browse">Guelph</a>
    </li>
    <li>
        <a asp-controller="Cities" asp-action="Browse">Hamilton</a>
    </li>
    <li>
        <a asp-controller="Cities" asp-action="Browse">Kitchener</a>
    </li>
    <li>
        <a asp-controller="Cities" asp-action="Browse">London</a>
    </li>
    <li>
        <a asp-controller="Cities" asp-action="Browse">Orillia</a>
    </li>
    <li>
        <a asp-controller="Cities" asp-action="Browse">Ottawa</a>
    </li>
    <li>
        <a asp-controller="Cities" asp-action="Browse">Stratford</a>
    </li>
    <li>
        <a asp-controller="Cities" asp-action="Browse">Toronto</a>
    </li>
    <li>
        <a asp-controller="Cities" asp-action="Browse">Windsor</a>
    </li>
</ul>