@{
    ViewData["Title"] = "Choose a City";
}

<h3> Choose a city to view rooms in each city </h3>

<ul>
    <li>
        <a asp-controller="Cities" asp-action="Browse" asp-route-city="Barrie">Barrie</a>
    </li>
    <li>
        <a asp-controller="Cities" asp-action="Browse" asp-route-city="Hamilton">Hamilton</a>
    </li>
    <li>
        <a asp-controller="Cities" asp-action="Browse" asp-route-city="Kitchener">Kitchener</a>
    </li>
    <li>
        <a asp-controller="Cities" asp-action="Browse" asp-route-city="Ottawa">Ottawa</a>
    </li>
    <li>
        <a asp-controller="Cities" asp-action="Browse" asp-route-city="Toronto">Toronto</a>
    </li>
</ul>