@model IEnumerable<Fall2021_COMP2084_CourseProject.Models.City>

@{
    ViewData["Title"] = "Add a new city";
}

<h1>Cities</h1>

<p>
    <a asp-action="Create" class="link-color-change-dark">Add another city</a>
</p>
<table class="table sortable table-hover table-sm">
    <thead>
        <tr>
            <th>
                <a href="#">Existing cities in our posts</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="link-color-change-light">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="link-color-change-light">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="link-color-change-light">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="nav-link link-color-change-dark" asp-area="" asp-controller="Posts" asp-action="Index">Back to Posts</a>

