@model IEnumerable<Fall2021_COMP2084_CourseProject.Models.City>
@{ViewData["Title"] = "Posts by City";}

<h1>Posts by City</h1>

<section class="row card-group">
    @foreach (var c in Model)
    {
        <div class="col-sm-6 col-lg-4 mb-3">
            <div class="card mb-4 text-center h-100">
                <div class="card-body">
                    <a asp-controller="CitiesForUsers" asp-action="PostsByCity" asp-route-id="@c.Id">
                        @c.Name
                    </a>
                </div>
            </div>
        </div>
    }

</section>

<a asp-area="" asp-controller="Posts" asp-action="Index" class="link-color-change-dark" data-toggle="tooltip" title="Back to All Posts">
    @*Icon Source   https://icons.getbootstrap.com/*@
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z" />
    </svg>
    Back to All Posts
</a>
