@{
    ViewData["Title"] = "Home";
}

<div class="home-main-container">
    <div class="text-center home-main">
        <h1 class="display-4"> Search In Room </h1>
        <h3> Start a new student life? Let's search the best room for you! </h3>
        <a asp-area="" asp-controller="Posts" asp-action="Create" class="link-color-change-dark"> Do you want to post your ad? </a>
        <p>




        </p>
        <a href="https://github.com/YurikoU/Fall2021_COMP2084_CourseProject/blob/master/README.md" target="_blank" alt="My codes on GitHub" rel="external" class="link-color-change-dark" > 
           All sources cited for this site 
        </a>
    </div>
</div>
