@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4"> Searchin Room </h1>
    <h3> Start a new student life? Let's search the best room for you! </h3>
    <a asp-area="" asp-controller="Posts" asp-action="Index"> Do you want to post your ad? </a>
</div>
