@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4"> Search In Room </h1>
    <h3> Start a new student life? Let's search the best room for you! </h3>
    <p class="home-main-text">
        Are you excited to start a new student life? Don't worry!
        Why not browse the rooms for you through this site?
        Many future housemates are waiting for you.
    </p>
    <p></p>
    <p class="home-main-text">
        If you are want to post your ad, you can register and log in for free.
    </p>
    <p></p>
    <p></p>
    <a asp-area="" asp-controller="Posts" asp-action="Create" class="link-color-change-dark"> Do you want to post your ad? </a>
    <p></p>
    <a href="https://github.com/YurikoU/Fall2021_COMP2084_CourseProject/blob/master/README.md" target="_blank" alt="My codes on GitHub" rel="external" class="link-color-change-dark">
        All sources cited for this site
    </a>
</div>
