@model Fall2021_COMP2084_CourseProject.Models.Post

@{
    ViewData["Title"] = "Create a new post";
}

<h1>Create a new post</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label><span class="required-item">*</span>
                <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityId"></select>
            </div>

            <div class="form-group">
                <label asp-for="Rent" class="control-label"></label><span class="required-item">*</span>
                <input asp-for="Rent" class="form-control" placeholder="E.g., 900" required />
                <span asp-validation-for="Rent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label><span class="required-item">*</span>
                <p style="margin-bottom: 0;"></p>
                @Html.TextAreaFor(p => p.Description, new { @class = "post-description-textarea form-control", placeholder = "Word count: 1,500 characters", rows = 5 })
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control-file" type="file" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneOnPost" class="control-label"></label><span class="required-item">*</span>
                <input asp-for="PhoneOnPost" class="form-control" type="tel" placeholder="(123)123-1234" required />
                <span asp-validation-for="PhoneOnPost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailOnPost" class="control-label"></label><span class="required-item">*</span>
                <input asp-for="EmailOnPost" class="form-control" type="email" placeholder="John-Smith@example.com" required />
                <span asp-validation-for="EmailOnPost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="link-color-change-dark">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
